<!DOCTYPE html>
<html>
  <head>
    <title>Mealrando</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header id="top-header">
    <h1 class="siteName">Mealrando</h1>
  </header>
  <nav class="flex-container" id="main-nav">
    <div><%= link_to "Home", "/" %></div>
    <div><%= link_to "Plan", "/recipes/plan" %></div>
  </nav>
  <div id="wrapper">
    <body>
      <%= yield %>
    </body>
  </div>
</html>
